.tile {
  display: grid;
  place-content: center;
  width: 90px;
  height: 90px;
}
.tile .chess-piece {
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
}
.tile .chess-piece:hover {
  cursor: grab;
}
.tile .chess-piece:active {
  cursor: grabbing;
}
.black-tile {
  background-color: #779556;
}
.white-tile {
  background-color: #ebecd0;
}

.tile img {
  width: 80px;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: " ";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  content: " ";
  width: 65px;
  height: 65px;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
