.chessboard {
  width: 600px;
  height: 600px;
  background-color: #769557;
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
}

.blacktile {
  background-color: #769557;
}

.whitetile {
  background-color: #dfe0c5;
}
