#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 90px);
  grid-template-rows: repeat(8, 90px);
  width: 720px;
  height: 720px;
}
.modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.modal.hidden {
  display: none;
}
.modal > .modal-body {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 300px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 600px;
  background-color: rgba(37, 36, 36, 0.8);
}
.modal > .modal-body > img {
  height: 120px;
  padding: 20px;
  border-radius: 30%;
}
.modal > .modal-body > img:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.modal > .modal-body > .checkmate-body > span {
  font-size: 32px;
  color: whitesmoke;
}

.modal > .modal-body > .checkmate-body > button {
  background-color: red;
  padding: 24px 48px;
  width: 80%;
  font-size: 32px;
  color: white;
  border: none;
  border-radius: 8px;
}
.modal > .modal-body > .checkmate-body > button:hover {
  cursor: pointer;
}
